.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button1 {
    background-color: #05475d;
    position:absolute;
    top:12px ;
    right: 6px;
}
.button2 {background-color: #339ec2;
    position:absolute;
    top:12px;
    right:5cm;
}
.mydiv
{
padding: 1%;
width: 50px;
height: 50px;

}
.myImage{
    height: 100px;
    width: 100px;
}
